.chat_container {
    position: fixed;
    bottom: 0px;
    right:0;
    display: flex;
    flex-direction: column-reverse;
    background-color:rgb(122, 59, 167);
    width: 30%;
    height: 55%;
    border: solid 2px black;
    overflow-y: auto;
}

