.chat_container {
    position: fixed;
    bottom: 0;
    right:5%;
    display: flex;
    background-color:rgb(122, 59, 167);
    width: 25em;
    height: 25em;
    border: solid 2px black;
    overflow-y: auto;
    z-index:0;
}
.message_container {
    position:relative;
    background-color:rgb(230, 230, 230);
    color: bisque;
    display: flex;
    flex-direction: column-reverse;
    overflow-y:auto;
    top: 2em;
    width:100%;
    height:60%;
    z-index:1;
}

