/*.navbar {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    border: 2px solid rgb(39, 9, 9);
    border-width: 0;
    
}*/

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    background-color: bisque;
    color: black;
    border: 2px solid purple;
}

.navbar_button{
    position: relative;
    margin: 15px;
    bottom: 5px;
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 65);
    border: 2px solid black;
    width: 50px;
    height: 35px;
}
